<launch>
  <!-- Map server -->
  <arg name="map_file" default="$(find fgm_plugin)/maps/fgm_ground.yaml"/>
  <arg name="3d_sensor" default="$(env TURTLEBOT_3D_SENSOR)"/>  <!-- r200, kinect, asus_xtion_pro -->

  <node name="map_server" pkg="map_server" type="map_server" args="$(arg map_file)" />

  <!-- Localization -->
  <arg name="initial_pose_x" default="0.0"/>
  <arg name="initial_pose_y" default="0.0"/>
  <arg name="initial_pose_a" default="0.0"/>
  <arg name="custom_amcl_launch_file" default="$(find turtlebot_navigation)/launch/includes/amcl/$(arg 3d_sensor)_amcl.launch.xml"/> 

  <!-- Move base -->
 <include file="$(find fgm_plugin)/launch/includes/move_base.launch.xml"/>
 <node pkg="gazebo_fake_localization" type="gazebo_fake_localization" name="gazebo_fake_localization"/>
 <node pkg="robot_pose_publisher" type="robot_pose_publisher" name="robot_pose_publisher"/>
</launch>
